.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 24px;
  height: 48px;
  text-transform: capitalize;
  border: none;
  border-bottom: 1px dashed rgb(129, 103, 227, 0.2);
  padding-left: 16px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(139, 146, 171);
  opacity: 50%;
}

:focus::-webkit-input-placeholder {
  color: transparent;
  outline: none;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

.textarea {
  font-family: "Roboto";
  resize: none;
  height: 48px;
  text-transform: capitalize;
  border: none;
  border-bottom: 1px dashed rgb(129, 103, 227, 0.2);
  padding-left: 16px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #8b92ab;
  opacity: 50%;
  outline: none;
  border-bottom: 1px dashed rgb(129, 103, 227, 0.2);
  margin-bottom: 56px;
}

.btn {
  height: 36px;
  width: 192px;
  border-radius: 50px;
  padding: 8px, 24px, 8px, 24px;
  background: linear-gradient(236.84deg, #9c8bea 1.49%, #544695 105.35%);
  border: none;
  margin: 0 auto 56px;
}
