.wrap {
  height: 88px;
  padding: 32px, 0px, 32px, 0px;
  background: #3b455a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  align-self: center;
  color: #ffffff;
}
